$baseFont: 'Poppins', sans-serif;
$headingFont: 'Ranga', cursive;
$baseColor:black;
$mainHeadingColor:#ffe791;
$formColor: white;


img{
    max-width:100%;
    height:auto;
    border:0;
    display:block;
    width:100%;
}
.wrapper{
    max-width: 1280px;
    margin:0 auto;
    width:90%;
}

h1, body, ul, li, p, div{
    margin:0;
    padding:0;
    list-style:none;
}

h1 {
    color:$mainHeadingColor;
    font-family: $headingFont;
    font-weight: 700;
    font-size: 6rem;
    text-align: center;
    margin-top:1%;
}

p{
    font-size:1.2rem;
    font-family: $baseFont;
    font-weight: 700;
}

input, textarea{
    font-size: 1.2rem;
    font-family: $baseFont;
    width:300px;
    border:none;
    margin-bottom:3%;
    background:rgba(0, 0, 0, 0.1);
    color:$formColor;
}


  

