body{
    scroll-behavior: smooth;   
    background: linear-gradient(180deg, #70e1f5, #ffd194);
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
    @-webkit-keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
}

header{
    height:100vh;
    .wrapper{
        height:86vh;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-wrap:wrap;
        .wellImage{
            width:50%;
            padding-top: 1rem;
        }
        .rightSideHeader{
            width:50%;
        }
    }
}


.formWrapper {
    display: flex;
    background:#ec8864;
    margin: 0 auto;
    padding: 6%;
    box-shadow: 10px 10px 0px $mainHeadingColor;
    border: 2px solid $mainHeadingColor;
    .description {
        line-height: 1.5;
        font-family: $baseFont;
        color: $formColor;
        margin-right:2%;
        padding: 4% 5%;
        font-size: 1.2rem;
    }
}

.overlay{
    background: rgba(0, 0, 0, 0.2);
    padding:2%;
    
}

span{
    text-transform:uppercase;
  }
  
.form{
    margin-left:2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[name="personName"], textarea {
    padding: 10px;
    border-radius: 0;
}

.send{
    width: 100px;
    background: $mainHeadingColor;
    border: none;
    padding: 10px;
    font-size: 1.2rem;
    color:$baseColor;
    font-family: $baseFont;
    &:hover,
    &:focus{
        color:$mainHeadingColor;
        background: #b4d11d;
    }
    &:active{
         border: 2px solid $formColor;
          
    }
}

input::placeholder,
textarea::placeholder{
    background: $formColor;
    color: $baseColor;
}

.mainList{
    // height:90vh;
    margin:3% 0;
}

ul{
    display:flex;
    flex-wrap: wrap;
    li{
        width:calc(100% / 3 - 20px);
        border:2px solid#b4d11d ;
        margin:10px;
        padding:1.5% 0;
        page-break-inside: avoid;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #ffe791;
        p{
            font-weight: 400;
            word-wrap: break-word;
        }
    }
}
.recipient,
.content{
     font-family: 'Ranga', cursive;
     font-weight: 400;
     font-size: 1.8rem;
     padding:1%;
}


.likeAndRemove{
    display: flex;
    .likes, .remove{
        background: transparent;
        border:none;
        color: tomato;
    }
    .remove{
        color: $baseColor;
    }
}

footer{
    p{
        padding: 10px 0;
        letter-spacing: .5px;
        color:$formColor;
        background:#b4d11d;
        text-align: center;
        &:hover{
            color:$mainHeadingColor;
        }
    }
}

  


