@media (max-width: 1397px){
    input, textarea{
        font-size: 1.1rem;
    
    }

    .formWrapper{
        padding:5%;
        .description{
            font-size: 1.1rem;
        }
    }

}//1395px ends

// @media (max-width:1326px) {
//     h1{
//         font-size:5rem; 
//     }
    
// }//1326px ends here

@media (max-width:1306px) {
    .formWrapper{
        padding:4%;
    }

}//1306px ends here

@media (max-width:1271px) {
    input, textarea {
        width:250px;
    }

}//1271px ends

@media (max-width:1142px) {
    input, textarea{
        font-size: 1rem;
    
    }

    .formWrapper{
        padding:4%;
        .description{
            font-size: 1rem;
        }
    }

    h1{
        font-size:5.5rem; 
    }

}//1142px ends

@media (max-width:1100px) {
    .formWrapper{
        .description{
            display: none;
        }
    }
    
    input, textarea {
        width:100%;
    }

    header{
        .wrapper{
            .wellImage{
                width:60%;
            }
            .rightSideHeader{
                width:40%;
            }
        }
    }


}//1100px ends

@media (max-width:940px) {
    .send{
        font-size: 1.1rem;
        padding: 7px;
        width:80px;
    }
    header{
        .wrapper{
            margin-top:-3%;
        }
    }


}//940px ends

@media (max-width:786px) {
    header{
        .wrapper{
            .wellImage{
                width:65%;
            }
            .rightSideHeader{
                width:35%;
            }
        }
    }


}//786px ends

@media (max-width:780px) {
    header{
        .wrapper{
            .wellImage{
                display: none;
            }
            .rightSideHeader{
                width:100%;
            }
        }
    }

    .formWrapper{
        .description{
            display: block;
            width:50%;
            font-size: 1.2rem;
        }
    }

    .form{
        width:50%;
        font-size: 1.3rem;
    }

    header{
        .wrapper{
            margin-top:-5%;
        }
    }

    h1{
        padding-top: 2%;
    }

}///780px ends here

@media (max-width: 599px) {
    h1{
        font-size: 5rem;
    }

    .formWrapper{
        .description{
            font-size: 1.1rem;
        }
    }

    .form{
        font-size: 1.2rem;
    }
}//599px ends here

@media (max-width:508px) {
    .formWrapper{
        .description{
            display: none;
        }
    }

    .form{
        width:100%;
        margin-left:0;
    }

    h1{
        font-size: 4rem;
    }

}

@media (max-width:410px) {
    h1{
        font-size: 3rem;
    }
}



